body{
    margin: 0;
    padding: 0;
    background-color: rgb(237, 237, 242);
}

header{
    background-image: url(B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-size:cover ;
    background-repeat: no-repeat;

    width: 90%;
    margin: 0 auto;
    height: 1000px;
}

.navigation{
    margin: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlogo{
    color: blue;
    font-size: 20px;
    font-weight: 1000px;
}
.banner{
   font-size: 50px;
   margin-top: 10%;
   text-align: center;
}
.btn{
    
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 15px;
    margin-top:50px;
}

/* main section start */
/* section 1 */
.detail{
    width: 85%;
    margin:80px auto;
     
}
.section1{
           display: flex;
           justify-content: space-between;

}
.secdetail{
       width: 380px;
       text-align: justify;
       margin-top:60px;
       font-size: 20px;
}
.secimage img{
         margin-top: 50px;
         border: 2px solid black;
         border-radius: 50px;
}
/* 
section 2 */

.section2{
    background-color: rgb(212, 220, 235);
    padding: 10px 20px;
    margin-top: 50px;
    border-radius: 30px;
}

.headdesign{
    text-align: center;
    font-size: 70px;
     
    
}
.sectiondesign{
   
    display: flex;
    gap: 300px;
    justify-content: center;

}
.secmeasure h1{
         font-size: 100px;
         color: rgb(41, 41, 210);
         margin-bottom: 0;
}
.secmeasure p{
             font-size: 30px;
             color: rgb(32, 28, 28);
             text-align: center;
             margin-top: 0;
}

/* section 3 */
.section3{
margin-top: 200px; 
}

.secdiv{
 
  
 
  display: flex;
 justify-content: space-between;
  /* gap: 100px; */
}

.divi{
 background-color:white;
  padding: 30px;
  width: 500px;
}
.divi p{
    font-size: 35px;
}
.simpleflex{
    display: flex;
    gap: 10px;
  
}
.simpleflex img{
    width: 90px;
}





